alias ls="ls -l"

alias c="clear"
alias ctags="`brew --prefix`/bin/ctags"
alias so="source ~/.zshrc"
alias x="exit"

alias mps-local-db="psql -h localhost -p 5432 -U marketing-preference-system -d marketing_preference_system_dev -W PASSWORD"
alias rails="bundle exec rails"
alias rspec="bundle exec rspec"
alias vim="nvim"
alias vi="nvim"
alias git-delete-branches="git branch | grep -v "master" | xargs git branch -D"
