alias ls="ls -l"

alias c="clear"
alias so="source ~/.zshrc"
alias x="exit"

alias rails="bundle exec rails"
alias rspec="bundle exec rspec"
alias vim="nvim"
alias vi="nvim"
alias git-delete-branches="git branch | grep -v "master" | xargs git branch -D"
alias cat="bat"
alias lg="lazygit"
alias history-search="history | fzf +s --tac"
